:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  box-sizing: border-box;
  
  --color1: #003b46; 
  --color2: #07575b; 
  --color3: #66a5ad; 
  --color4: #c4dfe6; 
  --color5: #cdd2d3;
  --color6: #f09540;
  --color6-rgb: rgba(240, 149, 64, 0.95);
  /*--color7: filter del color 6*/
  --color7: brightness(0) saturate(100%) invert(82%) sepia(65%) saturate(4606%) hue-rotate(332deg) brightness(100%) contrast(89%);

  background-color: var(--color1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
}
.btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--color3);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: var(--color6);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  font-weight: bold;
}